<h1>Заявка на активацию аккаунта </h1>
    <p>
      Вам, как администратору приложения "<%= @app_name %>", направлена заявка на активацию аккаунта от <%= @name %>.      
    </p>
    <h3>Указаны:</h3>
    <ul>
       <li>логин - <%= @login %>
       <li>почта - <%= @email %></li>
       <li>должность - <%= @position %></li>
       <li>отдел - <%= @department %></li>
    <ul>  
    <p>
      Для активации нажмите ссылку: <%= @url %>.
    </p>
    <p>Хорошего Вам дня!</p>